@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001124;
}

.container {
    max-width: 1440px;
    display: flex;
    padding-top: 50px;
}

.container_hello {
    max-width: 1440px;
    min-height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 62px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: italic;
}

.container_reg {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.block_form {
    margin-left: 105px;
    display: flex;
    align-items: center;
}

.block_form form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

form label {
    color: #FFFFFF;
    font-family: 'Padauk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    display: block;
}

.username, #pass, #passreg, #repassreg{
    min-width: 361px;
    min-height: 43px;
    margin-bottom: 11px;
    text-indent: 10px;
    font-size: 20px;
}

form p {
    font-family: 'Padauk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

form p span {
    color: #FFFFFF;
    margin-right: 10px;
}

form p a {
    color: #499FFE;
    text-decoration: none;
}

.btn {
    width: 180px;
    height: 43px;
    background-color: #015FC7;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Padauk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    margin-top: 11px;
}

