* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  .comment {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
  }

  .comment h3 {
    margin-top: 0;
  }

  .comment p {
    margin: 0;
  }

  .pagination {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
  }
  
  .pagination button.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .pagination button.disabled {
    color: #ccc;
    cursor: default;
  }