#price-input:focus {
    border: 2px solid green;
  }
  
  .price-display {
    color: green;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .price-display span {
    margin-right: 10px;
  }

  #error-message {
    display:none; 
    color:red;
  }
  