.tag {
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    cursor: pointer;
  }

  #header {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  #content {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }