.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block; 
    margin-right: 5px; 
  }

  #draw-button {
      min-width: 150px;
      min-height: 50px;
      margin: 50px 0;
      border-radius: 20px;
      border: none;
      background-color: blue;
      color: aliceblue;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
  }

  #draw-button p {
      padding: 5px;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  

