.stopwatch_body {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;    
}

#stopwatch {
    font-size: 30px;
    text-align: center;
    margin: 30px;
    background-color: antiquewhite;
}

.btn {
    margin: 30px;
}

button {
    cursor: pointer;
}