#slider {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  #slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s;
  }
  
  #slider img.active {
    opacity: 1;
  }
  