body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	border: 2px solid black;
	height: 600px;
}

.container > * {
	flex-basis: 50%;
}

section {
	border: 10px solid tomato;
	padding: 20px;
	white-space: pre-line;
	font-family: monospace;
	font-size: 16px;
}


